{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
    <meta charset="UTF-8">
    <title>Article List</title>
</head>
<script type="text/javascript" src="{% static "js/jquery-2.1.1.js" %}"></script>
<body>
<h1>Article List</h1>
<div class="container">
{% for article in articles %}
    <div class="row"><div class="col-lg-8"><a href="{{ article.id }}">{{ article.title }}</a></div></div>
{%  endfor %}
</div>
</body>
</html>;