{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
    <meta charset="UTF-8">
    <title>index</title>
</head>
<script type="text/javascript" src="{% static "js/jquery-2.1.1.js" %}"></script>
<body>
<div id="test" class="container">
    <div id='header' class="text-center">
        <h1>Articles</h1>
        <br/>

        <div class='row'>

            <form name="stats_form" role="form" onsubmit="return(getAnalysis())">
                <div class="form=group">
                    <div class='col-lg-6'>
                        <select class="form-control" id="language">
                            {% for language in languages %}
                                <option>{{ language }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class='col-lg-6'>
                        <select class="form-control" id="range">
                            {% for range in ranges %}
                                <option value={{ range }}>{{ range }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <button type='submit' class='btn btn-primary btn-lg'><span
                            class='glyphicon glyphicon-stats'></span> Get Stats
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />


</div>
<br/>
<br/>
</div>
<script type="text/javascript">
    var article_ids = []
    $.getJSON("articles", function (data) {
        $.each(data, function (key, value) {
            article_ids.push(value.pk)
            $("#test").append("<div class='row'><div class='col-lg-12'><blockquote id='" + value.pk + "'><h1>" + value.fields.title +
                    "</h1><br /><div id='article" + value.pk + "'></div></blockquote></div></div>")
            $.getJSON("articles/" + value.pk, function (article) {
                $("#article" + value.pk).append(article.fields.text)
                console.log(article)
            })
        })
    })

    function getAnalysis() {
        $.each(article_ids, function(article_id) {
            $.getJSON("analysis/" + article_id + "/" + $("#range").val(), function (data) {
                $("#" + article_id).append("<small id='small" + value.pk + "'>" + "% known words.</small>" + data)
            })
        })
    }
</script>


</body>
</html>